body {
    background-colr: #f0f0f0;
    font-size: 16px;
}

h1 {
    color: #333;
    font-wieght: bold;
    padding: 10p;
}

main {
    margin: 20px;
    border: 1px solid cc;
    borde-radious: 5p;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #666;
}